body{
    background: #304352;  /* fallback for old browsers */
    background: -webkit-linear-gradient(90deg, #d7d2cc 10%, #557791 90%);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #d7d2cc 10%, #557791 90%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#main{
     margin-top:6.0em;
}

.title{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	 			 0px 8px 13px rgba(0,0,0,0.1),
	 			 0px 18px 23px rgba(0,0,0,0.1);
	font-weight: 600;
	 		
}

jumbotron{
    background-color:#e6e6e6;
}

a{
    color:#3f5973;
    font-weight: bold;
}
.input-form{
    width:30%;
    margin: 20px auto;
}

.thumbnail img{
    width:100%;
}

.thumbnail{
    padding:0;
}

.flex-wrap{
    display:flex;flex-wrap:wrap
}

.caption-full{
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 5px;
}

.text-ceneter{
    text-align:center;
}
#delete-form{
    display:inline;
}
