<% include ../partials/header %>
    <div class="row">
        <h2  class = "text-center">Add a New Museum</h2>
        <div  class = "input-form">
           
            <form class="sodirty"
                  action="/museums" method="POST">
                <div class="form-group">
                     <label>Name</label>
                     <input class="form-control" 
                            type="text" 
                            name ="name" 
                            placeholder="name"
                            required>
                </div>
                 <div class="form-group">
                     <label>Price</label>
                     <input class="form-control" 
                            type="number" 
                            name ="price" 
                            placeholder="price" 
                            min="0.00" 
                            value="0.00"
                            step="0.01"
                            required>
                </div>
                <div class="form-group">
                     <label>Image Url</label>
                     <input class="form-control" 
                            type="text" 
                            name = "image" 
                            placeholder="image url"
                            required>
                </div>
                <div class="form-group">
                     <label>Description</label>
                     <textarea class="form-control" 
                                rows=5 
                                name = "description" 
                                placeholder="description"></textarea>
                </div>
                <div class="form-group">
                     <button class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            </form>
            <a href="/museums"><i class="fa fa-reply-all"></i> Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>